In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
import pickle

In [3]:
df=pd.read_csv(r"C:\Users\kannu\OneDrive\Desktop\Pandas_csvs\Datasets\Regression_data_sets\used_bikes.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [6]:
def top_10_frequent(df):
    top_10=df.value_counts().sort_values(ascending=False).head(10)
    for i in df:
        if i not in top_10:
            df.loc[df==i]="Uncommon"
    return df

In [8]:
top_10_frequent(df["bike_name"])
df["bike_name"]

C:\Users\kannu\AppData\Local\Temp\ipykernel_12484\831338191.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df==i]="Uncommon"

0                           Uncommon
1        Royal Enfield Classic 350cc
2                           Uncommon
3                           Uncommon
4                           Uncommon
                    ...
32643         Hero Passion Pro 100cc
32644                       Uncommon
32645       Bajaj Avenger Street 220
32646                       Uncommon
32647             Bajaj Pulsar 150cc
Name: bike_name, Length: 32648, dtype: object

In [34]:
top_10=df["city"].value_counts().sort_values(ascending=False).head(10).index.to_list()
df[["city"]].replace(to_replace= top_10,value="Uncommon")

           city
0      Uncommon
1      Uncommon
2      Uncommon
3      Uncommon
4      Uncommon
...         ...
32643  Uncommon
32644    Karnal
32645  Uncommon
32646  Uncommon
32647  Uncommon

[32648 rows x 1 columns]

In [21]:
top_10

[7318, 2723, 2591, 2160, 1724, 1619, 1294, 1007, 938, 905]

In [32]:
top_10=df["city"].value_counts().sort_values(ascending=False).head(10).index.to_list()

In [33]:
top_10

['Delhi',
 'Bangalore',
 'Mumbai',
 'Hyderabad',
 'Pune',
 'Chennai',
 'Lucknow',
 'Jaipur',
 'Ghaziabad',
 'Ahmedabad']

In [45]:
df["city"].isin(top_10)

0         True
1         True
2         True
3         True
4         True
         ...
32643     True
32644    False
32645     True
32646     True
32647     True
Name: city, Length: 32648, dtype: bool

SyntaxError: incomplete input (4208134374.py, line 1)

In [ ]:
df["city"].replace()